<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ _target.label }}</title>
  </head>
  <body>
    <div id="app"></div>

    <script type="text/x-template" id="app-template">
        <div class="page">
          {{ yield }}
        </div>
    </script>

    <script type="module" src="{{ '/app-dist/app.js' | path }}" defer></script>
  </body>
</html>